.footer__container {
    display: flex;
    width: 100vw;
    background: -webkit-linear-gradient(to right, #000000, #505050);  
    background: linear-gradient(to right, #000000, #505050);
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.footer__container .row {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footer__container .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h5 {
    font-family: 'Bebas Neue', cursive;
}
@media (max-width:765px) {
    .footer__container {
        display: flex;
        width: 100vw;
        background: -webkit-linear-gradient(to right, #000000, #505050);  
        background: linear-gradient(to right, #000000, #505050);
        margin-top: 15px;
    }
}