* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  width: 100vw;
}

header {
  display: flex;
  width: 100vw;
}

.gradient__container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #000000;
  background: linear-gradient(to right, #000000, #505050);
}

.row-1 {
  display: flex;
  height: 20vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.row-1 img {
  height: 98%;
  background-color: #000000;
}

.col-md-3 {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.col-md-9 {
  display: flex;

  align-items: center;
}

.navbar {
  display: flex;
  width: 98%;
  justify-content: space-evenly;
}

.navbar-brand {
  display: inline-block;
  width: 30%;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

/* a {
  display: flex;
  width: 25%;
  align-items: center;
  text-align: center;
} */

.body__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .row-1 {
    height: 150px;
  }
  .col-sm-12 {
    display: flex;
    justify-content: center;
    width: 100vh;
    height: 120px;
    background: linear-gradient(to right, #000000, #505050);
  }

  .navbar {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    font-size: 20px;
  }

  .gradient__container .col-sm-12 {
    width: 100vw;
  }
}

:root {
  --primary-color: #3f51b5;
  --secondary-color: #f50057;
  --background-color: #f5f5f5;
}

/* Usa los colores en todo el sitio */
body {
  background-color: white;
  font-family: "Helvetica Neue", sans-serif;
}

button {
  color: red;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.foods li img {
  max-width: 150px;
  max-height: 150px;
}

.btn-primary:hover {
  background-color: #e10050;
}

.btn-primary {
  background-color: black;
}

img {
  max-width: 400px !important;
  max-height: 400px !important;
}

.card {
  max-width: 400px;
  max-height: 600px;
}

@media screen and (max-width: 600px) {
  .categories {
    display: none;
  }

  .foods {
    width: 100%;
  }

  .foods img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .body__container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
  }

  .body__container .col-sm-12 {
    width: 95vw;
    height: 300px;
    background-image: url(/assets/Imagen\ Restaurante.jpeg);
    background-position: center;
    background-size: cover;
  }

  .body__container p {
    font-size: 12px;
  }
}

p {
  font-family: "Castoro", serif;
  font-size: 20px;
  text-align: justify;
  margin-right: 20px;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}

.col-md-8 {
  height: auto;
  width: 60vw;
  background-image: url(/assets/Imagen\ Restaurante.jpeg);
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer__container {
  display: flex;
  width: 100vw;
  background: linear-gradient(to right, #000000, #505050);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.footer__container .row {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer__container .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h5 {
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 765px) {
  .footer__container {
    display: flex;
    width: 100vw;
    background: linear-gradient(to right, #000000, #505050);
    margin-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map*/



/* FORMULARIO DE CONTACTO */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  padding: 50px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.contact-form h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form .form-group label {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #b3b3b3;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #444;
}



/* GALERÃA */
h2 {
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

.linea {
  background: black;
  height: 5px;
  width: 100%;
  display: block;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria>a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
}

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.5);
}

.galeria h4 {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 3px 0 3px 8px;
  text-transform: uppercase;
  font-size: 15px;
}

.animated-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .2s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.animated-box img {
  width: 70vw;
  max-height: 90vh;
}

.animated-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: black;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  display: block;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .close {
    top: 20px;
    right: 20px;
  }
}

